@model IEnumerable<AgencyWorker>

@{
    ViewBag.Title = "Запит А2";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="A2" method="get">
            <div class="text-danger"></div>
            
            <div class="form-group">
                <p>Ідентифікатори та повні імена співробітників, що є стаціонарними співробітниками, які число операцій, у яких вони беруть участь, не менше ...</p>
            </div>

            <div class="form-group">
                <input name="param" class="form-control" value="@ViewBag.Num"/>
                <p class="text-danger">@ViewBag.ErrorMessage</p>
            </div>
            
            <br/>

            <div class="form-group">
                <input type="submit" value="Виконати" class="btn btn-primary"/>
            </div>
            
            <br/>
        </form>
    </div>
</div>

<table class="table">
    <thread>
        <tr>
            <th>
                @Html.DisplayNameFor(item => item.Id)
            </th>
            <th>
                @Html.DisplayNameFor(item => item.FullName)
            </th>
        </tr>
    </thread>
    <tbody>

    @foreach (AgencyWorker worker in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(item => worker.Id)
            </td>
            <td>
                @Html.DisplayFor(item => worker.FullName)
            </td>
        </tr>
    }

    </tbody>

</table>



<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
  <div class="btn-group me-2" role="group" aria-label="First group">
    <a asp-action="Index" asp-route-query="A1" type="button" class="btn btn-secondary">A1</a>
    <a asp-action="Index" asp-route-query="A2" type="button" class="btn btn-secondary">A2</a>
    <a asp-action="Index" asp-route-query="A3" type="button" class="btn btn-secondary">A3</a>
    <a asp-action="Index" asp-route-query="A4" type="button" class="btn btn-secondary">A4</a>
    <a asp-action="Index" asp-route-query="A5" type="button" class="btn btn-secondary">A5</a>
  </div>
  <div class="btn-group me-2" role="group" aria-label="Second group">
    <a asp-action="Index" asp-route-query="B1" type="button" class="btn btn-secondary">B1</a>
    <a asp-action="Index" asp-route-query="B2" type="button" class="btn btn-secondary">B2</a>
    <a asp-action="Index" asp-route-query="B3" type="button" class="btn btn-secondary">B3</a>
  </div>
</div>
